html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  color: #333;
  margin: 0;
}

/* --------Division of Areas-------- */

section {
  text-align: center;
  vertical-align: middle;
  padding-top: 2em;
  padding-bottom: 2em;
}

div {
  vertical-align: middle;
}

.text {
  display: inline-block;
  width: 100%;
  max-width: 25em;
  text-align: left;
  padding: 1em;
}

.image {
  display: inline-block;
  width: 100%;
  max-width: 25em;
  padding: 1em;
}

img {
  display: block;
  width: 100%;
}

/* --------Button-------- */

.btn {
  padding: .75em;
  border: 2px #333 solid;
  border-radius: .4em;
  text-decoration: none;
  color: #333;
  display: inline-block;
}

.btn:hover {
  background-color: #666;
  color: white;
}

h2 {
  margin-top: 0;
}
